<%= bootstrap_form_for(@provider) do |f| %>
  <div class="field">
    <%= f.text_field :name, label: "Nombre" %>
  </div>
  <div class="field">
    <%= f.number_field :rut, label: "Rut" %>
  </div>
  <div class="field">
    <%= f.text_field :business, label: "Negocio" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
