<h1>Proveedores</h1>
<% if !current_user.nil? && current_user.kind == 'Admin' %>
  <div class="col-md-2">
    <%= link_to 'Registrar proveedor', new_provider_path, class: "btn btn-default btn-lg" %><br><br>
  </div>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Rut</th>
      <th>Business</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name %></td>
        <td><%= provider.rut %></td>
        <td><%= provider.business %></td>
        <td><%= link_to 'Mostrar', provider %></td>
        <td><%= link_to 'Editar', edit_provider_path(provider) %></td>
        <td><%= link_to 'Eliminar', provider, method: :delete, data: { confirm: 'También se eliminarán las compras y ventas relacionadas. ¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
