<h1>Proveedores</h1>
<div class="panel">
  <%= link_to 'Registrar proveedor', new_provider_path, class: "btn btn-default btn-lg" %>
</div>
<div class="row">
  <% @providers.each do |provider| %>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><%= provider.name %></strong>
        </div>
        <div class="panel-body">
          <b>Rut: </b><%= provider.rut %><br>
          <b>Giro: </b><%= provider.business %>
        </div>
        <div class="panel-footer text-center">
          <%= link_to 'Mostrar', provider %> |
          <%= link_to 'Editar', edit_provider_path(provider) %> |
          <%= link_to 'Eliminar', provider, method: :delete, data: { confirm: 'También se eliminarán las compras y ventas relacionadas. ¿Está seguro?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
