<div class="container col-md-3 col-md-offset-3">
  <p>
    <strong>Nombre:</strong>
    <%= @provider.name %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= @provider.rut %>
  </p>

  <p>
    <strong>Negocio:</strong>
    <%= @provider.business %>
  </p>

  <%= link_to 'Editar', edit_provider_path(@provider) %> |
  <%= link_to 'Volver', providers_path %>

</div>
