<h1> Gracias por adquirir nuestros productos :) </h1>

<h1> Carrito</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Precio unidad</th>
      <th>Subtotal</th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_cart.in_shopping_carts.each do |i_sh| product = producto(i_sh.product_barcode) %>
      <% if !product.nil? %>
      <tr>
        <td><%= product.barcode %></td>
        <td><%= product.name %></td>
        <td></td>
        <td><%= moneda(product.price) %></td>
        <td></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<p>
 <h3><strong>Total:</strong> <%= moneda(@shopping_cart.total) %></h3>
</p>

<%= link_to 'Pagar con PayPal', pagar_path, method: :post%>
