<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> evitan crear este usuario:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nombre de usuario' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password, 'Contraseña' %><br>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation, 'Confirme su contraseña' %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :phone, 'Número' %><br>
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email, 'Correo electrónico' %><br>
    <%= f.text_field :email %><br>
  </div>
  <% if signed_in? && current_user.kind == "admin"%>
    <div class="field">
      <%= f.label :kind, 'Tipo de Usuario' %><br>
      <%= f.radio_button(:kind, "admin") %>
      <%= f.label(:admin, "admin") %>
      <%= f.radio_button(:kind, "Cliente") %>
      <%= f.label(:client, "cliente") %>
      <%= f.radio_button(:kind, "vendedor") %>
      <%= f.label(:seller, "vendedor") %>
      </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
