<%= bootstrap_form_for(@user) do |f| %>
  <div class="field">
    <%= f.text_field :name, label: 'Nombre de usuario' %>
  </div>
  <div class="field">
    <%= f.password_field :password, label: 'Contraseña' %>
    <%= f.password_field :password_confirmation, label: 'Confirme su contraseña' %>
  </div>
  <div class="field">
    <%= f.number_field :phone, label: 'Número' %>
  </div>
  <div class="field">
    <%= f.text_field :email, label: 'Correo electrónico' %>
  </div>
  <div class="field">
    <%= f.file_field :avatar, label: "Imagen" %>
  </div>
  <% if signed_in? && current_user.kind == "Admin"%>
    <div class="form-inline field">
      <%= f.label :kind, 'Tipo de Usuario' %><br>
      <%= f.radio_button(:kind, "Admin") %>
      <%= f.label(:admin, "Admin") %>
      <%= f.radio_button(:kind, "Cliente") %>
      <%= f.label(:client, "Cliente") %>
      <%= f.radio_button(:kind, "Vendedor") %>
      <%= f.label(:seller, "Vendedor") %>
      </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
