<% provide(:title, "Editar usuario") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Actualiza tu perfil</h1>
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> evitan crear este usuario:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.label :name, 'Nombre' %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, 'Contraseña' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmacion" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :phone, 'Número' %><br>
      <%= f.number_field :phone %>

      <%= f.file_field :avatar, label: "Imagen" %>


      <%= f.submit "Guardar cambios", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
