<p id="notice"><%= notice %></p>

<div class="container col-md-3 col-md-offset-1">
  <%= image_tag(@user.avatar.url(:medium)) %>
</div>

<p>
  <strong>Teléfono:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Tipo usuario:</strong>
  <%= @user.kind %>
</p>
