<h1 align="center">Ficha usuario</h1>
<div class="container col-md-3 col-md-offset-1">
  <%= image_tag(@user.avatar.url(:medium)) %>
</div>

<p>
  <strong>Teléfono:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Tipo usuario:</strong>
  <%= @user.kind %>
</p>

<p>
  <%= link_to 'Editar', edit_user_path(@user) %> |
  <%= link_to 'Eliminar', @user, method: :delete, data: { confirm: 'También se eliminarán las compras y/o ventas relacionadas. ¿Está seguro?' } %> |
  <%= link_to 'Volver', users_path %>
</p>
