<%= bootstrap_form_for(@purchase) do |f| %>
  <div class="field">
    <%= f.number_field :product_barcode, label: "Código producto" %>
  </div>
  <div class="field">
    <%= f.number_field :provider_rut, label: "Rut proveedor" %>
  </div>
  <div class="field">
    <%= f.number_field :amount, label: "Cantidad comprada" %>
  </div>
  <div class="field">
    <%= f.number_field :price, label: "Precio unitario de compra" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
