<h1>Registro de compras</h1>
<% if !current_user.nil? && current_user.kind == 'Admin' %>
  <div class="col-md-2">
    <%= link_to 'Registrar compra', new_purchase_path, class: "btn btn-default btn-lg" %>
  </div>
<% end %>
  <div class="col-md-offset-8">
    <%= form_tag purchases_path, method: :get, class: "form-inline" do |f| %>
      <%= label_tag :kind, 'Filtro: ' %>
      <div class="checkbox">
        <%= check_box_tag(:mes, 'yes') %>
        <%= label_tag("Mes") %>
        <%= select_month(Date.current, use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)) %>
      </div>
      <%= select_year(Date.current, end_year: Date.current.year ) %>
      <%= submit_tag "Filtrar", name: nil, class: "btn btn-primary btn-md" %>
    <% end %>
  </div>
  <br>
  <% if @purchases.count == 0 %>
    <h4 align="center">No existen compras</h4>
  <% else %>
  <div class="col-md-10 col-md-offset-1">
    <table class="table">
      <thead>
        <tr>
          <th>Rut proveedor</th>
          <th>Fecha</th>
          <th>Productos comprados</th>
          <th>Total compra</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @purchases.each do |purchase| %>
          <tr>
            <td><%= link_to purchase.provider_rut, purchases_path(:rut => purchase.provider_rut) %></td>
            <td><%= purchase.created_at.to_date.strftime("%d-%m-%Y") %></td>
            <td><%= numero(cant_comprada(purchase)) %></td>
            <td><%= moneda(total_compra(purchase)) %></td>
            <td><%= link_to 'Detalle', purchase %></td>
            <% if !current_user.nil? && current_user.kind == "Admin" %>
              <td><%= link_to 'Eliminar', purchase, method: :delete, data: { confirm: 'Al eliminar este registro, disminuirá también el stock del producto.' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <% end %>
<br>
