<h1>Registro de compras</h1>
<% if !current_user.nil? && current_user.kind == 'Admin' %>
  <div class="col-md-2">
    <%= link_to 'Registrar compra', new_purchase_path, class: "btn btn-default btn-lg" %>
  </div>
<% end %>
  <div class="col-md-offset-8">
    <%= form_tag purchases_path, method: :get, class: "form-inline" do |f| %>
      <%= label_tag :kind, 'Filtro: ' %>
      <div class="checkbox">
        <%= check_box_tag(:mes, 'yes') %>
        <%= label_tag("Mes") %>
        <%= select_month(Date.current, use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)) %>
      </div>
      <%= select_year(Date.current, end_year: Date.current.year ) %>
      <%= submit_tag "Filtrar", name: nil, class: "btn btn-primary btn-md" %>
    <% end %>
  </div>
  <br>
  <% if @purchases.count == 0 %>
    <h4 align="center">No existen compras</h4>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Rut proveedor</th>
          <th>Código producto</th>
          <th>Cantidad comprada</th>
          <th>Precio unitario</th>
          <th>Total compra</th>
          <th>Fecha</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @purchases.each do |purchase| %>
          <tr>
            <td><%= link_to purchase.provider_rut, purchases_path(:rut => purchase.provider_rut) %></td>
            <td><%= link_to purchase.product_barcode, purchases_path(:barcode => purchase.product_barcode) %></td>
            <td><%= numero(purchase.amount) %></td>
            <td><%= moneda(purchase.price) %></td>
            <td><%= moneda(purchase.price*purchase.amount) %></td>
            <td><%= purchase.created_at.to_date.strftime("%d-%m-%Y") %></td>
            <td><%= link_to 'Mostrar', purchase %></td>
            <td><%= link_to 'Eliminar', purchase, method: :delete, data: { confirm: 'Al eliminar este registro, disminuirá también el stock del producto.' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
<br>
