<h1 align="center">Ficha compra</h1>
<div class="container col-md-3 col-md-offset-3">
  <p>
    <strong>Rut proveedor:</strong>
    <%= link_to @purchase.provider_rut, Provider.find_by_rut(@purchase.provider_rut) %>
  </p>

  <p>
    <strong>Código del producto:</strong>
    <%= link_to @purchase.product_barcode, producto(@purchase.product_barcode) %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= numero(@purchase.amount) %> unidades.
  </p>

  <p>
    <strong>Precio unitario:</strong>
    <%= moneda(@purchase.price) %>
  </p>

  <p>
    <strong>Total compra:</strong>
    <%= moneda(@purchase.price*@purchase.amount) %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= @purchase.created_at.to_date.strftime("%d-%m-%Y") %>
  </p>

  <%= link_to 'Editar', edit_purchase_path(@purchase) %> |
  <%= link_to 'Volver', purchases_path %>
</div>
