<h1 align="center">Ficha compra</h1>
<div class="container col-md-3 col-md-offset-3">
  <p>
    <strong>Código del producto:</strong>
    <%= @purchase.product_barcode %>
  </p>

  <p>
    <strong>Rut proveedor:</strong>
    <%= @purchase.provider_rut %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= @purchase.amount %> unidades.
  </p>

  <p>
    <strong>Precio unitario:</strong>
    <%= moneda(@purchase.price) %>
  </p>

  <p>
    <strong>Total compra:</strong>
    <%= moneda(@purchase.price*@purchase.amount) %>
  </p>

  <p>
    <strong>Fecha (AAAA-MM-DD):</strong>
    <%= @purchase.created_at.to_date %>
  </p>

  <%= link_to 'Editar', edit_purchase_path(@purchase) %> |
  <%= link_to 'Volver', purchases_path %>
</div>
