<p id="notice"><%= notice %></p>

<p>
  <strong>Product barcode:</strong>
  <%= @purchase.product_barcode %>
</p>

<p>
  <strong>Provider rut:</strong>
  <%= @purchase.provider_rut %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @purchase.amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @purchase.price %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
