<%= bootstrap_form_for([@genre,@book]) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="field">
        <%= f.text_field :name, label: "Nombre" %>
      </div>
      <div class="field">
        <%= f.number_field :price, label: "Precio" %>
      </div>
      <div class="field">
        <%= f.text_field :writer, label: "Autor" %>
      </div>
      <div class="field">
        <%= f.text_field :editorial, label: "Editorial" %>
      </div>
      <div class="field">
        <%= f.collection_select :genre_id, Genre.order(:name),:id,:name , label: "Género" %>
        <%= link_to "Nuevo Género" ,new_genre_path %>
      </div>
      <div class="field">
        <%= f.file_field :avatar , label: "Imagen" %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
<% end %>
