<%= bootstrap_form_for([@genre,@book]) do |f| %>
      <div class="field">
        <% if @book.new_record? %>
          <%= f.number_field :barcode, label: "Código ISBN" %>
        <% else %>
          <%= f.number_field :barcode, label: "Código ISBN", readonly: true %>
        <% end %>
      </div>
      <div class="field">
        <%= f.text_field :writer, label: "Autor" %>
      </div>
      <div class="field">
        <%= f.text_field :editorial, label: "Editorial" %>
      </div>
      <div class="field">
        <%= f.collection_select :genre_id, Genre.order(:name),:id,:name , label: "Género" %>
        <%= link_to "Nuevo Género" ,new_genre_path %>
      </div>
      <div class="field">
        <%= f.number_field :price, label: "Precio", prepend: "$" %>
      </div>
      <div class="field">
        <%= f.file_field :avatar , label: "Imagen" %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
<% end %>
