<p id="notice"><%= notice %></p>

<h1>Libros</h1>
<p><%= link_to 'Agregar Libro', new_book_path %></p>
<div class="container-fluid row">
    <% @books.each do |book| %>
      <div class="col-md-3">
        <p align="center"><%= image_tag(book.avatar.url(:thumb)) %></p>
        <div class="container-fluid">
          <b><%= book.name %></b><br>
          Código: <%= book.barcode %><br>
          Precio: $<%= book.price %><br>
          Autor: <%= book.writer %><br>
          Editorial <%= book.editorial %><br>
          Género: <%= book.genre.name %><br>
          Stock: <%= book.stock %> unidades.<br>
        </div>
        <p align="center"><%= link_to 'Mostrar', book %> |
        <%= link_to 'Editar', edit_book_path(book) %> |
        <%= link_to 'Eliminar', book, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
</div>
