<p id="notice"><%= notice %></p>

<p>
  <h2><%= @book.name %></h2>
</p>

<p>
  <%= image_tag(@book.avatar.url(:medium)) %>
</p>

<p>
  <strong>Precio:</strong>
  <%= '$' %><%= @book.price %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @book.writer %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @book.editorial %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @book.genre.name %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
