<p id="notice"><%= notice %></p>
<div class="container col-md-3 col-md-offset-1">
  <%= image_tag(@book.avatar.url(:medium)) %>
</div>
<div class="container col-md-4">
  <p>
    <h2><%= @book.name %></h2>
  </p>
  <p>
    <strong>Código:</strong>
    <%= @book.barcode %>
  </p>
  <p>
    <strong>Precio:</strong>
    $<%= @book.price %>
  </p>
  <p>
    <strong>Autor:</strong>
    <%= @book.writer %>
  </p>

  <p>
    <strong>Editorial:</strong>
    <%= @book.editorial %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= @book.genre.name %>
  </p>
  <p>
    <strong>Stock:</strong>
    <%= @book.stock %> unidades.
  </p>
  <% if signed_in? && current_user.kind == "admin" %>
    <%= link_to 'Edit', edit_book_path(@book) %> |
  <% end %>
  <%= link_to 'Back', books_path %>
</div>
