<div class="container col-md-3 col-md-offset-1">
  <%= image_tag(@book.avatar.url(:medium)) %>
</div>
<div class="container col-md">
  <p>
    <h2><%= @book.name %></h2>
  </p>
  <p>
    <% if @book.barcode.nil? %>
      <strong>Id:</strong>
      <%= @book.id %>
    <% else %>
      <strong>Codigo:</strong>
      <%= @book.barcode %>
    <% end %>
  </p>
  <p>
    <strong>Precio:</strong>
    <%= moneda(@book.price) %>
  </p>
  <p>
    <strong>Autor:</strong>
    <%= @book.writer %>
  </p>

  <p>
    <strong>Editorial:</strong>
    <%= @book.editorial %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= @book.genre.name %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= @book.stock %> unidades.
  </p>
  <% if signed_in? && current_user.kind == "Admin" %>
    <%= link_to 'Edit', edit_book_path(@book) %> |
  <% end %>
  <%= link_to 'Back', books_path %>
</div>
