<div class="container col-md-3 col-md-offset-1">
  <%= image_tag(@book.avatar.url(:medium)) %>
</div>
<div class="container col-md">
  <p>
    <h2><%= @book.name %></h2>
  </p>

  <p>
    <strong>Codigo ISBN:</strong>
    <%= @book.barcode %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= @book.writer %>
  </p>

  <p>
    <strong>Editorial:</strong>
    <%= @book.editorial %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= @book.genre.name %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= moneda(@book.price) %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= numero(@book.stock) %> unidades.
  </p>
  <%= link_to 'Agregar al carrito', add_to_cart_path(product_barcode: @book.barcode) %> |
  <% if signed_in? && current_user.kind == "Admin" %>
    <%= link_to 'Editar', edit_book_path(@book) %> |
    <%= link_to 'Eliminar', @book, method: :delete, data: { confirm: 'También se eliminarán las compras y ventas relacionadas. ¿Está seguro?' } %> |
  <% end %>
  <%= link_to 'Volver', books_path %>
</div>
