<%= bootstrap_form_for(@product) do |f| %>
  <div class="field">
    <%= f.text_field :name, label: "Nombre" %>
  </div>
  <div class="field">
    <%= f.number_field :price, label: "Precio" %>
  </div>
  <div class="field">
    <%= f.text_field :trademark, label: "Marca" %>
  </div>
  <div class="field">
    <%= f.file_field :avatar, label: "Imagen" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
