<h1>Productos</h1>
<div class="container-fluid row">
  <div class="col-md-2">
    <% if !current_user.nil? && current_user.kind == 'Admin' %>
      <%= link_to 'Nuevo producto', new_product_path, class: "btn btn-default btn-lg" %><br><br>
    <% end %>
  </div>
  <div class="col-md-3 col-md-offset-7">
    <%= form_tag products_path, method: :get, class: "form-inline" do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Buscar nombre" %>
      </div>
        <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
    <% end %>
  </div>
</div>
<div class="container-fluid row">
    <% @products.each do |product| %>
      <% if !product.price.nil? || product.stock == 0 %>
        <div class="col-md-2">
            <p align="center"><%= link_to image_tag(product.avatar.url(:thumb)), product %></p>
            <div class="container">
              <b><%= link_to product.name, product %></b><br>
              Código: <%= product.barcode %><br>
              Marca: <%= product.trademark %><br>
              Precio: <b><%= moneda(product.price) %></b><br>
              <% if !current_user.nil? && current_user.kind == 'Admin' %>
                Stock: <%= numero(product.stock) %> unidades.<br>
              <% end %>
            </div>
            <p align="center">
              <% if signed_in? && current_user.kind == 'Admin' %>
                <%= link_to 'Editar', edit_product_path(product) %> |
                <%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'También se eliminarán las compras y ventas relacionadas. ¿Está seguro?' } %>
              <% end %>
            </p><br>
        </div>
      <% end %>
    <% end %>
</div>
