<p id="notice"><%= notice %></p>

<h1>Productos</h1>
<p><%= link_to 'Nuevo producto', new_product_path %></p>
<div class="container-fluid row">
    <% @products.each do |product| %>
        <div class="col-md-2">
            <p align="center"><%= image_tag(product.avatar.url(:thumb)) %></p>
            <b><%= product.name %></b><br>
            Precio: <%= product.price %><br>
            Marca: <%= product.trademark %><br><br>
            <%= link_to 'Mostrar', product %> | 
            <%= link_to 'Editar', edit_product_path(product) %> | 
            <%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    <% end %>
</div>
