<p id="notice"><%= notice %></p>
<div class="container col-md-3 col-md-offset-1">
  <%= image_tag(@product.avatar.url(:medium)) %>
</div>
<div class="container col-md-4">
<p>
  <h1><%= @product.name %></h1>
</p>
<p>
  <strong>Codigo:</strong>
  <%= @product.barcode %>
</p>
<p>
  <strong>Precio:</strong>
  <%= '$' %><%= @product.price %>
</p>
<p>
  <strong>Marca:</strong>
  <%= @product.trademark %>
</p>
<% if !current_user.nil? && current_user.kind == 'admin' %>
  <p>
    <strong>Stock:</strong>
    <%= @product.stock %> unidades.
  </p>
<% end %>
<% if signed_in? && current_user.kind == 'admin' %>
  <%= link_to 'Editar', edit_product_path(@product) %> |
  <% end %>
<%= link_to 'Volver', products_path %>
</div>
