<div class="container col-md-3 col-md-offset-1">
  <%= image_tag(@product.avatar.url(:medium)) %>
</div>
<div class="container col-md-4">
<p>
  <h1><%= @product.name %></h1>
</p>
<p>
  <strong>Codigo:</strong>
  <%= @product.barcode %>
</p>
<p>
  <strong>Marca:</strong>
  <%= @product.trademark %>
</p>
<p>
  <strong>Precio:</strong>
  <%= moneda(@product.price) %>
</p>
<p>
  <strong>Stock:</strong>
  <%= numero(@product.stock) %> unidades.
</p>
<%= stylesheet_link_tag 'print', :media => 'print' %>
<%= link_to 'Agregar al carrito', add_to_cart_path(product_barcode: @product.barcode) %> |
<% if permitido? %>
  <%= link_to 'Editar', edit_product_path(@product) %> |
  <%= link_to 'Eliminar', @product, method: :delete, data: { confirm: 'También se eliminarán las compras y ventas relacionadas. ¿Está seguro?' } %> |
<% end %>
<%= link_to 'Volver', products_path %>
</div>
