<h1>Registro de ventas</h1>
<% if !current_user.nil? && current_user.kind == 'Admin' || current_user.kind == 'Vendedor' %>
  <div class="col-md-2">
    <%= link_to 'Registrar venta', new_sale_path, class: "btn btn-default btn-lg" %>
  </div>
<% end %>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Rut proveedor</th>
      <th>Código producto</th>
      <th>Cantidad vendida</th>
      <th>Precio unitario</th>
      <th>Total venta</th>
      <th>Fecha</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.provider_rut %></td>
        <td><%= sale.product_barcode %></td>
        <td><%= numero(sale.amount) %></td>
        <td><%= moneda(sale.price) %></td>
        <td><%= moneda(sale.amount*sale.price) %></td>
        <td><%= sale.created_at.to_date.strftime("%d-%m-%Y") %></td>
        <td><%= link_to 'Mostrar', sale %></td>
        <td><%= link_to 'Eliminar', sale, method: :delete, data: { confirm: 'Al eliminar este registro, aumentará también el stock del producto.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
