<tbody>
  <% total_año = 0 %>
  <% @products.each do |p| %>
    <tr>
      <td><%= p.barcode %>
        <% if params[:action] == 'earnings' %><br>Vendidos<br>Comprados<% end %>
      </td>
      <% total_prod = 0; total_vend = 0; total_comp = 0 %>
      <% 1.upto(12) do |i| %>
        <% case params[:action] %>
          <% when 'purchases' %>
            <% mes=calc_purchases(p.barcode,@date_year,i) %>
          <% when 'sales' %>
            <% mes=calc_sales(p.barcode,@date_year,i) %>
          <% when 'earnings' %>
            <% mes=calc_earnings(p.barcode,@date_year,i) %>
        <% end %>
        <% vend = amount_sales(p.barcode,@date_year,i) %>
        <% comp = amount_purchases(p.barcode,@date_year,i) %>
        <% if mes >= 0 %> <td class="alert alert-success">
        <% else %> <td class="alert alert-danger">
        <% end %>
        <%= moneda(mes) %><br>
        <% if params[:action] == 'sales' || params[:action] == 'earnings' %><%= numero(vend) %> unid.<br><% end %>
        <% if params[:action] == 'purchases' || params[:action] == 'earnings' %><%= numero(comp) %> unid.</td><% end %>
        <% total_prod += mes; total_vend += vend; total_comp += comp %>
      <% end %>
      <% if total_prod >= 0 %>
        <td class="alert alert-success"><%= moneda(total_prod) %>
          <% if params[:action] == 'sales' || params[:action] == 'earnings' %>
            <br><%= numero(total_vend) %> unid.
          <% end %>
          <% if params[:action] == 'purchases' || params[:action] == 'earnings' %>
          <br><%= numero(total_comp) %> unid.
          <% end %>
        </td>
      <% else %>
        <td class="alert alert-danger"><%= moneda(total_prod) %>
          <% if params[:action] == 'sales' || params[:action] == 'earnings' %>
            <br><%= numero(total_vend) %> unid.
          <% end %>
          <% if params[:action] == 'purchases' || params[:action] == 'earnings' %>
          <br><%= numero(total_comp) %> unid.
          <% end %>
        </td>
      <% end %>
      <% total_año += total_prod %>
    </tr>
  <% end %>
  <tr>
    <% 13.times do %><td></td><% end %>
    <% if total_año >= 0 %>
      <td class="alert alert-success"><b><%= moneda(total_año) %></b></td>
    <% else %>
      <td class="alert alert-danger"><b><%= moneda(total_año) %></b></td>
    <% end %>
  </tr>
  <% @total += total_año %>
</tbody>
