<h1>Informe de ganancias</h1>
<div class="row">
  <%= bootstrap_form_tag url: reports_earnings_path, method: :get, class: "form-inline" do |f| %>
    <div class="form-group form-inline col-md-3">
      <%= f.label :date_filter, 'Año:' %>
      <% if Purchase.minimum("extract(year from created_at)").to_i < Sale.minimum("extract(year from created_at)").to_i %>
        <% minimo = Purchase.minimum("extract(year from created_at)").to_i %>
      <% else %>
        <% minimo = Sale.minimum("extract(year from created_at)").to_i %>
      <% end %>
      <%= select_year(Date.current, start_year: minimo, end_year: Date.current.year ) %>
      <%= submit_tag "Mostrar", name: nil, class: "btn btn-primary btn-md" %>
    </div>
    <div class="col-md-offset-7 col-md-2">
      <%= link_to 'Imprimir informe', nil, onclick: "printpage()", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
  </div>
  <% if params[:date].present? %>
    <% @date_year = params[:date]["year"] %>
  <% else %>
    <% @date_year = Date.current.year %>
  <% end %>
  <h2 align="center">Año: <%= @date_year %></h2>
  <% @sales = Sale.where('extract(year from created_at) = ?',@date_year) %>
  <h3>Productos</h3>
  <% @total = 0 %>
  <table class="table">
    <%= render 'thead' %>
    <% @products = Product.all %>
    <%= render 'tbody' %>
  </table>
  <h3>Libros</h3>
  <table class="table">
    <%= render 'thead' %>
    <% @products = Book.all %>
    <%= render 'tbody' %>
  </table>
  <% if @total >= 0 %>
    <h4 align="center">Ganancia neta:<strong class="text-success"> <%= moneda(@total) %></strong></h4>
  <% else %>
    <h4 align="center">Ganancia neta:<strong class="text-danger"> <%= moneda(@total) %></strong></h4>
  <% end %>
