<h1>Informe de ganancias</h1>
<div class="container-fluid row">
  <%= bootstrap_form_tag url: reports_earnings_path, method: :get, class: "form-inline" do |f| %>
    <div class="form-group pull-left">
      <%= f.label :date_filter, 'Año:' %>
      <% if Purchase.minimum("extract(year from created_at)").to_i < Sale.minimum("extract(year from created_at)").to_i %>
        <% minimo = Purchase.minimum("extract(year from created_at)").to_i %>
      <% else %>
        <% minimo = Sale.minimum("extract(year from created_at)").to_i %>
      <% end %>
      <% if minimo == 0 %>
        <% año = Date.current.year %>
      <% else %>
        <% año = minimo %>
      <% end %>
      <%= select_year(Date.current, start_year: año, end_year: Date.current.year ) %>
      <%= submit_tag "Mostrar", name: nil, class: "btn btn-primary btn-md" %>
    </div>
    <div class="pull-right">
      <%= link_to 'Imprimir informe', nil, onclick: "printpage()", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
</div>
<% if params[:date].present? %>
  <% @date_year = params[:date]["year"] %>
<% else %>
  <% @date_year = Date.current.year %>
<% end %>
<h2 align="center">Año: <%= @date_year %></h2>
<% @sales = Sale.where('extract(year from created_at) = ?',@date_year) %>
<div class="panel panel-default">
  <div class="panel-heading lead">Productos</div>
  <% @total = 0 %>
  <table class="table">
    <%= render 'thead' %>
    <% @products = Product.all %>
    <%= render 'tbody' %>
  </table>
</div>
<div class="panel panel-default">
  <div class="panel-heading lead">Libros</div>
  <table class="table">
    <%= render 'thead' %>
    <% @products = Book.all %>
    <%= render 'tbody' %>
  </table>
</div>
<% if @total >= 0 %>
  <h4 align="center">Ganancia neta:<strong class="text-success"> <%= moneda(@total) %></strong></h4>
<% else %>
  <h4 align="center">Ganancia neta:<strong class="text-danger"> <%= moneda(@total) %></strong></h4>
<% end %>
