<h1>Informe de compras</h1>
<div class="row">
  <%= bootstrap_form_tag url: reports_purchases_path, method: :get, class: "form-inline" do |f| %>
    <div class="form-group form-inline col-md-3">
      <%= f.label :date_filter, 'Año:' %>
      <%= select_year(Date.current, start_year: Purchase.minimum("extract(year from created_at)").to_i, end_year: Date.current.year ) %>
      <%= submit_tag "Mostrar", name: nil, class: "btn btn-primary btn-md" %>
    </div>
    <div class="col-md-offset-7 col-md-2">
      <%= link_to 'Imprimir informe', nil, onclick: "printpage()", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
</div>
  <% if params[:date].present? %>
    <% @date_year = params[:date]["year"] %>
  <% else %>
    <% @date_year = Date.current.year %>
  <% end %>
  <h2 align="center">Año: <%= @date_year %></h2>
  <% @purchases = Purchase.where('extract(year from created_at) = ?',@date_year) %>
  <h3>Productos</h3>
  <% @total = 0 %>
  <table class="table">
    <%= render 'thead' %>
    <% @products = Product.all %>
    <%= render 'tbody' %>
  </table>
  <h3>Libros</h3>
  <table class="table">
    <%= render 'thead' %>
    <% @products = Book.all %>
    <%= render 'tbody' %>
  </table>
  <h4 align="center">Total compras: <%= moneda(@total) %></h4>
