<!DOCTYPE html>
<html>
<head>
  <title>Proyecto software</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class= "container" >
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          </button>
          <a class="navbar-brand" href="/">Proyecto de software</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Productos', products_path%></li>
            <li><%= link_to 'Libros', books_path%></li>
            <% if signed_in? %> <!-- Compara si hay una sesión de usuario activa -->
              <% if current_user.kind == 'Vendedor' || current_user.kind == 'Admin' %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Gestión Ventas <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Nueva venta", "#" %></li>
                  <li><%= link_to "Ver ventas", "#" %></li>
                </ul>
              </li>
              <% end %>
              <% if current_user.kind == 'Admin' %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Gestión Compras <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Nueva compra", new_purchase_path %></li>
                  <li><%= link_to "Ver compras", purchases_path %></li>
                </ul>
              </li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Informes <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Compra", "#" %></li>
                  <li><%= link_to "Venta", "#" %></li>
                  <li><%= link_to "Ganancia", "#" %></li>
                </ul>
              </li>
              <li><%= link_to "Usuarios", users_path %></li>
              <li><%= link_to "Crear Usuario", new_user_path %></li>
              <li><%= link_to "Proveedores", providers_path %></li>
              <% end %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Mi cuenta <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a>Hola, <%= current_user.name %></a></li>
                  <li class="divider"></li>
                  <li><%= link_to "Perfil", current_user %></li>
                  <li><%= link_to "Configuración", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Desconectar", signout_path%></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Iniciar Sesión", signin_path %></li>
              <li><%= link_to "Registrarse", new_user_path %></li>
            <% end %>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div> <!-- container -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
